<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shreya.quizapp">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/Theme.QuizApp">

        <!-- LoginActivity with launcher intent filter -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.QuizApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.QuizApp" />

        <!-- QuizActivity -->
        <activity
            android:name=".QuizActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.QuizApp" />


        <activity
            android:name=".LeaderboardActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.QuizApp" />
        <!-- ResultActivity -->
        <activity
            android:name=".ResultActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.QuizApp" />

        <!-- SignUpActivity -->
        <activity
            android:name=".SignUpActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.QuizApp" />

        <activity
            android:name=".AddQuestionsActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.QuizApp"/>


        <!-- SettingsActivity -->
        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.QuizApp" />

    </application>
</manifest>
